<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Add Contact</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="contactForm">
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>FullName</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Chritopher Mulwa" >
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>PhoneNumber</label>
                    <input type="text" class="form-control" formControlName="phoneNumber" placeholder="0707200314">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <div class="update">
                      <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <div class="update">
                      <button type="submit" class="btn btn-primary" (click)="closeForm()">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>    
              
            </form>
          </div>
        </div>
      </div>
</div>

