.list-group-item {
    padding: 20px;
    cursor: pointer;
  }
  .search-input {
    height: 50px;
  }
  .highlighted {
    background-color: #0274d6;
    color: white;
  }
  .pay-slip {    
    color: #0274d6;
  }
  /* .g-payslip {
    // padding: 10px;
    // background-color: #ffffff;
    color: orange;
  } */