<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{group.name}} members</h4>
            <button class="btn btn-primary">Send Message</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                    <th>
                        Id
                    </th>
                  <th>
                    Name
                  </th>
                  <th>
                    PhoneNumber
                  </th>                  
                </thead>
                <tbody>    
                  <tr *ngFor="let member of groupMembers">
                    <td>
                      {{member?.user_id}}
                    </td>
                    <td>
                        {{member?.name}}
                      </td>
                    <td>
                      {{member?.phone_number}}
                    </td>                    
                  </tr>                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
