<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <input
            type="text"
            class="form-control search-input"
            placeholder="Search Group Name"
          />
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let group of groups"(click)="groupSelected(group)"
            [class.highlighted]="group?.group_name === currentrow">
              <div class="row">
                <div class="col-md-7">
                  {{ group?.group_name }}
                </div>
                <!-- <div class="col-md-5">
                  <span>{{ group.id }}</span>
                </div> -->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  