<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Delivered Messages</h4>
      </div>
      <div class="card-body">
          <p *ngIf="!messages">You Haven't Send Any Message</p>
        <div class="table-responsive" *ngIf="messages?.length > 0">
          <table class="table">
            <thead class="text-primary">
              <th>
                Id
              </th>
              <th>
                Phone Number
              </th>
              <th>
                Message
              </th>
              <th>
                Date Delivered
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let message of messages">
                <td>
                  {{ message?.id }}
                </td>

                <td>
                  {{ message?.phone_number }}
                </td>
                <td>
                  {{ message?.message }}
                </td>
                <td>
                  {{ message?.created_at }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
